  <br/><br/>
  <h1 style="color: #6c757d;">Archivos</h1>
<hr>
<br/><%= notice%>

<!--tabla principal-->
<div class="row">
<div class="col-sm-6">
 <div class="footer text-left">
    <%= link_to 'Regresar', incidentmanagements_path, class: "btn btn-info" %>
  </div><br/>

<!--tabla imagen gestion-->
<h5 class="text-left"><kbd>Imagén gestión incidencia</kbd></h5>
<div class="modal-content text-center">
<label class="form-group">
      &nbsp; &nbsp;
       <%comment= link_to edit_incidentmanagement_path(@incidentmanagement) do %>
        <%= image_tag "/img/edit_24.png", :title=>"Editar" %>
         <% end %>
  <tbody>
     <br/><br/>
       <figure class="figure">
         <%= image_tag(@incidentmanagement.picture_url, class: 'figure-img img-fluid rounded', alt: 'Image') if @incidentmanagement.picture? %>
       </figure>
  </tbody>
</label>
</div>
</div>
<!--tabla imagen-->
